<h2 mat-dialog-title>Details of 10 Column</h2>
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="SNo">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> Sl No </th>
    <td mat-cell *matCellDef="let element"> {{element.SNo}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="DOB">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> DOB </th>
    <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container> 
  
  <ng-container matColumnDef="address1">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> address1 </th>
    <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
  </ng-container>  
  
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> state </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container> 
  
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> city </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container> 
  
  <ng-container matColumnDef="pincode">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> pincode </th>
    <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
  </ng-container> 
  
  <ng-container matColumnDef="educationalDetails">
    <th mat-header-cell *matHeaderCellDef="displayedColumns"> educationalDetails </th>
    <td mat-cell *matCellDef="let element"> {{element.educationalDetails}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="action">
        <button mat-button (click)="openDialog()">Show dialog</button>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="ELEMENT_DATA_ONE"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of ELEMENT_DATA_ONE" cdkDrag>{{item.Name}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="ELEMENT_DATA_TWO"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of ELEMENT_DATA_TWO" cdkDrag>{{item.Name}}</div>
      </div>
    </div>
  </div>
  
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true"  (click)="saveDilogData()"cdkFocusInitial>Save</button> -->
  <button mat-button >Cancel</button>
  <button mat-button   (click)="saveDilogData()"cdkFocusInitial>Save</button>
</mat-dialog-actions>


